body {
    margin: 0;
    height: 100vh;
    background-color: #b39ddb; /* สีม่วงพื้นหลัง */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma, sans-serif;
}

.card {
    background: white;
    width: 420px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.count {
    font-size: 36px;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}